/*
右边为最终生成文件的预览。

此样式，主要用于设置整体背景，内容的内、外边框等，
侧重于文档整体框架的样式。
可任意修改样式，或恢复预设值，保存后生效
*/
body{/*文档整体的属性*/
       width: 100%;
       margin:0;
       padding:0;
       background: #fff;
}

#export_content{/*文档内容的整体属性*/
       margin: 0px 10%;
       padding:20px;
       border: 0px solid rgb(149, 155, 111);
       background:#ffffff;
}